.dice {
  display: inline-block;
  width: 75px;
  height: 75px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  line-height: 72px;
  font-size: 30px;
  font-weight: bold;
  margin: 3px;
  background-color: lightgrey;
  border-radius: 6px;

  animation: flash 1s ease-in-out infinite;
  user-select: none;

}

.dice:hover {
  border-color: red;
  box-shadow: 0 0 10px red;
  cursor: pointer;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 0.1s linear;
}

#grid-container {
  display: block;  /* make the container a block-level element */
  margin: auto;  /* center the container horizontally */
  width: 430px;  /* specify a width for the container (adjust as needed) */
}

.reroll-button {
  margin-top: 10px;
  width: 150px;
  height: 30px;
  font-size: 12px;
}

.reset-button {
  margin-top: 10px;
  margin-left: 10px;
  width: 250px;
  height: 30px;
  font-size: 12px;
}

.counter {
  margin-top: 10px;
  margin-bottom: 5px;
}

.score {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}